html{
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(23, 23, 23);
    min-height: 100vh;
    background: radial-gradient(at bottom, #e3cd78,black,black,black,black);
    
}
.nav{
    height: 15vh;
    width: 100%;
    /* border: 2px solid; */
    display: flex;
}
.bnm{
    height: 100%;
    width: 70%;
    /* border: 2px solid; */
    background: linear-gradient(176deg, #e3cd78, black, black, black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    /* color: #2fe1bd; */
    color: #e89e12;
    box-shadow: 2px 2px 8px 2px;
}
.bnm::first-letter{
    font-size: 60px;
}
.lt{
    height: 100%;
    width: 30%;
    /* border: 2px solid; */
    background: linear-gradient(191deg, rgb(0, 255, 213), black, black, black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 255, 213);
    box-shadow: 2px 2px 8px 2px ;
    padding: 10px;
}
.disp{
    position: relative;
    height: 600px;
    width: 380px;
    border: 2px solid;
    margin: auto;
    margin-top: 35px;
    border-radius: 20px;
}
.btns{
    position: absolute;
    height: 300px;
    width: 50px;
    /* border: 2px solid; */
    left: 325px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.b{
    height: 50px;
    width: 50px;
    /* border: 2px solid; */
}
.lk{
    height: 50px;
    width: 50px;
    background-color: rgb(1, 85, 158);
}
.shr{
    height: 50px;
    width: 50px;
    background-color: rgb(1, 85, 158);
}
.sv{
    height: 50px;
    width: 50px;
    background-color: rgb(1, 85, 158);
}
.vd{
    height: 600px;
    width: 380px;
    border-radius: 20px;
}
.hd{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}